@use "sass:math";
@import "base";

/*
  Frontend styles
 */
// Remove margin bottom for the last child - users need to have full control
// about the Paragraphs spacings.
.paragraph--type-text {
  > :last-child {
    margin-bottom: 0;
  }
}

.paragraph--type-image {
  &.rounded {
    overflow: hidden;
  }
}

.paragraph--type-symbol.text-center {
  // @todo: nut sure if this is still required, could be done with a specific ui_style setting instead
  > .icon-combo {
    justify-content: center;
  }
}

// Image related paragraphs
.image-wrapper {
  &.ratio {
    // Stretch the image to full size if a ratio is defined
    *:not(source) {
      display: block;
      height: 100%;
    }
    img {
      object-fit: cover;
      object-position: center;
      max-width: none !important;
      height: 100%;
      width: 100%;
    }
  }
  &[class*="rounded"] {
    overflow: hidden;
  }
}

// Unpublished Label
.paragraph__unpublished-label {
  display: inline-flex;
  align-items: center;
  padding: 2px 5px;
  font-size: var(--drowl-font-size-small);
  font-weight: var(--drowl-font-weight-bold);
  border-radius: var(--drowl-border-radius-small);
  background-color: var(--drowl-info);
  color: var(--drowl-info-text);
  margin-bottom: 0.5em;
  &::before {
    @include get-ico-only(
      $drowl-admin-ico-eye-blocked,
      $iconfont-family: $admin-iconfont-family
    );
    margin-right: 0.35em;
  }
}

// Equal height groups
.paragraph--height-equalized {
  min-height: var(--equal-height-group-height);
}
