@use "sass:math";
@import "../../../scss/base";

/* Default Styles */
.score {
  --line-color: var(--drowl-text-color);
  --bar-color: var(--drowl-info);
  --bar-end-color: var(--drowl-green);
  --content-size: 1.5rem;
  --icon-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--bs-grid-gutter);
  position: relative;
  &__progressbar {
    position: relative;
    // Prevent shrinking on webkit browsers
    width: 100%;
  }
  &__progressbar-content {
    // @todo: prefix is printed after the current value and spaces are missing
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 30%;
    max-width: 90%;
    padding: 0;
    margin: 0;
    line-height: 1.1;
    text-align: center;
    font-size: var(--content-size);
    color: currentColor !important;
  }
  &__progressbar-icon {
    display: block;
    text-align: center;
    font-size: var(--icon-size);
    color: var(--icon-color, currentColor);
    margin-bottom: 0.2em;
  }
  &__progressbar-devider {
    &::after {
      content: " / ";
    }
  }
  &__text {
    width: 100%;
    > :last-child{
      margin-bottom:0;
    }
  }
  // Alignment
  &--text-alignment-top {
    flex-direction: column-reverse;
  }
  &--text-alignment-left,
  &--text-alignment-right {
    flex-flow: row wrap;
    > * {
      flex: 1 1 50%;
    }
    > .score__progressbar {
      flex-basis: 220px;
    }
  }
  &--text-alignment-left {
    flex-direction: row-reverse;
  }
  &--text-alignment-right {
    flex-direction: row;
  }
  // Types
  &--type-semicircle {
    .score__progressbar-content {
      top: auto;
      bottom: 0;
      transform: translate(-50%, 0);
    }
  }
  &--type-line {
    .score__progressbar-content {
      position: static;
      transform: none;
      max-width: none;
      display: flex;
      align-items: center;
      font-size: 1rem;
    }
    .score__progressbar-icon {
      --icon-size: 1rem;
      margin: 0 0.5em 0 0;
    }
  }
}
