@import "../../../scss/base";
.paragraph--type-simple-map {
  position: relative;
  height: calc(100% - var(--bs-spacer-3));
  margin-bottom: var(--bs-spacer-3);
  .image-wrapper {
    line-height: 1;
    img {
      max-width: none;
      width: 100%;
    }
  }
  .field--type-link {
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 1;

    @media (min-width: 30rem) {
      max-width: calc(60% - 2.5rem);
    }

    a {
      background: rgba(255, 255, 255, 0.65);
      color: dimgray;
      padding: 0.5rem 0.75rem;
      display: inline-block;
    }
  }

  // Text overlay (address)
  .simple-map-overlay {
    background: lightgray;
    color: dimgray;
    padding: 0.5rem 0.75rem;

    @media (min-width: 30rem) {
      position: absolute;
      left: 1rem;
      top: 1rem;
      max-width: calc(60% - 2.5rem);
      background: rgba(255, 255, 255, 0.85);
    }

    p:empty {
      /* If (custom) tokens used, the text formatter often try to wrap them in a p, what results in an empty p + spacing */
      display: none;
    }

    :last-child {
      margin-bottom: 0;
    }
  }

  // Copyright claim
  .image-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.65);
    color: var(--muted);
    font-size: small;
    line-height: 1.1;
    padding: 0.25em 0.75em;
  }
}
