@use "sass:math";
@import "../../../scss/base";

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--bs-grid-gutter);

  // @todo: This should not require a media-query.
  // Take 4 cols as default
  @media (min-width: 30rem) {
    grid-template-columns: repeat(4, 1fr);
  }

  // Columns (4 is default)
  &--2-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  &--3-cols {

    // @todo: This should not require a media-query?
    @media (min-width: 30rem) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &--5-cols {

    // @todo: This should not require a media-query?
    @media (min-width: 50rem) {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  &--6-cols {

    // @todo: This should not require a media-query?
    @media (min-width: 50rem) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &--masonry-cols {
    --masonry-grid-row-height-sm: 150px;
    --masonry-grid-row-height-lg: 200px;
    --masonry-grid-col-width-sm: 150px;
    --masonry-grid-col-width-lg: 200px;

    grid-auto-rows: var(--masonry-grid-row-height);
    grid-auto-flow: row dense;
    grid-template-columns: repeat(auto-fit, minmax(var(--masonry-grid-col-width-sm), 1fr));

    @media (min-width: 50rem) {
      grid-template-columns: repeat(auto-fit, minmax(var(--masonry-grid-col-width-lg), 1fr));
    }

    >.gallery-grid__item {

      a.photoswipe,
      span.photoswipe-gallery {
        height: 100%;
      }

      img {
        max-width: none;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
      }

      &:nth-child(2n) {
        @media (min-width: 30rem) {
          grid-column: span 2;
        }
      }

      &:nth-child(6n + 1) {
        grid-column: span 2;

        @media (min-width: 50rem) {
          grid-column: span 3;
          grid-row: span 2;
        }
      }
    }
  }
}
