{% extends "@drowl_paragraphs_bs/paragraph--drowl-paragraphs-bs.html.twig" %}

{# Added referended entites bundle class #}

{% block paragraph %}
  {%
    set classes = [
      'paragraph',
      content.field_nodeentityref.0 ? 'paragraph--entity-view-mode-' ~ content.field_nodeentityref.0['#view_mode']|clean_class,
      content.field_nodeentityref.0['#node'] ? 'paragraph--entity-bundle-' ~ content.field_nodeentityref.0['#node'].getType()|clean_class,
      'paragraph--type-' ~ paragraph.bundle|clean_class,
      view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class
    ]
  %}
  {{ parent() }}
{% endblock paragraph %}
