{% extends "@drowl_paragraphs_bs/paragraph--drowl-paragraphs-bs.html.twig" %}

{% block paragraph %}
  {# Add upublished label #}
  {{ block("unpublished_hint", "@drowl_paragraphs_bs/paragraph--drowl-paragraphs-bs.html.twig") }}
  {% set embeded_entity_view_mode = paragraph.field_nodeentityrefvm.value ? paragraph.field_nodeentityrefvm.value|clean_class : 'default' %}
  <div{{ attributes.addClass(classes).addClass('paragraph--embeded-entity-view-mode-' ~ embeded_entity_view_mode) }}>
    {% block content %}
      {{ parent() }}
    {% endblock content %}
  </div>
{% endblock %}
