{% extends "@drowl_paragraphs_bs/paragraph--drowl-paragraphs-bs.html.twig" %}

{% block content %}
  {% set image_caption = drupal_field('field_image_caption', 'media', content.field_image.0.field_image['#object'].id()) %}
  <div class="simple-map-image image-wrapper">
    {{ include('@drowl_paragraphs_bs/inc/flexible_image.html.twig', {
      image_field: content.field_image.0.field_media_image,
      image_is_zoomable: paragraph.field_image_zoomable.value,
      responsive_image_size: paragraph.field_resp_imagestyle.value.0.target_id,
      image_is_zoomable: true,
      image_shape: paragraph.field_image_shape.value
    }) }}
  </div>
  {% if image_caption %}
    <div class="image-caption">
      {{ image_caption }}
    </div>
  {% endif %}
  {{ content.field_link }}
  <div class="simple-map-overlay">
    {{ content|without('field_image','field_link') }}
  </div>
{% endblock content %}
