//  Paragraphs ADD-Dialog List style - fix reserved space for the Paragraph-Icons to fit our icon format
ul.paragraphs-add-dialog-list input.field-add-more-submit {
  padding-left: 60px;
}

// Prevent text selection inside the slideshow to have a better
// drag & drop experience.
.paragraph--view-mode--preview {
  user-select: none;
}

// Show the settings as sidebar inside the ui-dialog
.drowl-paragraphs-form-layout{
  display:grid;
  grid-template-columns: 70% 30%;
  gap: 1rem;
  padding-top:1rem;
  padding-inline: 1rem;
  &__col-first,
  &__col-second{
    // Fix unwanted gaps caused by GIN & Claro
    > :first-child{
      > .form-item,
      fieldset:not(.fieldgroup){
        margin-top:0;
      }
    }
  }
  &__col-first{

  }
  &__col-second{
    position: sticky;
    top: 0;
    align-self: flex-start;
    // Reserve some space for the also sticky form actions
    margin-bottom:5rem;
    .lpb-behavior-plugins__ui-style-options{
      display:flex;
      flex-direction: column;
    }
    .claro-details{
      margin-top:0;
    }
  }
  &__form-actions{
    grid-column: -1/1;
    position:sticky;
    z-index:1;
    bottom:-1rem;
    padding-block:1rem;
    background-color: rgba(255,255,255,0.8);
    backdrop-filter: blur(5px);
  }
  // Move type specific settings to top and force expand
  &--type-layout{
    .form-wrapper--background-options,
    .form-wrapper--background-color{
      order:-1;
    }
  }
  &--type-layout-slideshow{
    .form-wrapper--slideshow{
      order:-1;
    }
  }
  &--type-button{
    .form-wrapper--buttons{
      order:-1;
    }
  }
  &--type-icon{
    .form-wrapper--icon{
      order:-1;
    }
  }
  &--type-score{
    .form-wrapper--score{
      order:-2;
    }
    .form-wrapper--icon{
      order:-1;
    }

  }
  &--type-attachments{
    .form-wrapper--buttons{
      order:-1;
    }
  }
  &--type-container-tabs-accordion{
    .form-wrapper--tabs---accordion{
      order:-1;
    }
  }
  &--type-image,
  &--type-svg-image{
    .form-wrapper--image-style{
      order:-2;
    }
    .form-wrapper--sizing{
      order:-1;
    }

  }
  &--type-image-text{
    .form-wrapper--mediatext{
      order:-4;
    }
    .form-wrapper--image-style{
      order:-3;
    }
    .form-wrapper--sizing{
      order:-2;
    }
    .form-wrapper--borders{
      order:-1;
    }
  }
  &--type-card{
    .form-wrapper--card{
      order:-5;
    }
    .form-wrapper--buttons{
      order:-4;
    }
    .form-wrapper--background-color{
      order:-3;
    }
    .form-wrapper--background-options{
      order:-2;
    }
    .form-wrapper--text{
      order:-1;
    }
  }
  &--type-gallery{
    .form-wrapper--gallery{
      order:-3;
    }
    .form-wrapper--image-style{
      order:-2;
    }
    .form-wrapper--sizing{
      order:-1;
    }
  }
  &--type-slideshow{
    .form-wrapper--slideshow{
      order:-1;
    }
  }
}
