@use "sass:math";
@import "../base";

// More specific layout preview icon for the custom slideshow layout
.layout-paragraphs-component-form .layout-select .layout-icon[class*="drowl"].layout-icon--drowl-paragraphs-type-layout-slideshow-custom{
  .layout-icon__region{
    fill: transparent !important;
    stroke-dasharray: 2,5;
    stroke-width: 2px;
    stroke-linecap: square;
    height: calc(100% - 2px);
  }
}
