{% extends "@drowl_paragraphs_bs/paragraph--drowl-paragraphs-bs.html.twig" %}

{% block content %}
  {% if not content.field_image.0 is empty %}
    <div {{ image_wrapper_attributes.addClass('image-wrapper') }}>
      {{ include('@drowl_paragraphs_bs/inc/flexible_image.html.twig', {
        image_field: content.field_image.0.field_media_image,
        image_is_zoomable: paragraph.field_image_zoomable.value,
        responsive_image_size: paragraph.field_resp_imagestyle.value.0.target_id,
        image_link: paragraph.field_link.value,
        image_shape: paragraph.field_image_shape.value
      }) }}
    </div>
  {% endif %}
{% endblock content %}
