{#
/**
  * @file
  * Default theme implementation for a 'form' element.
  *
  * Available variables
  * - attributes: A list of HTML attributes for the wrapper element.
  * - children: The child elements of the form.
  *
  * @see template_preprocess_form()
  *
  * @ingroup themeable
  */
#}

{% set classes = [
  'drowl-paragraphs-form-layout',
  element['#paragraph'].bundle() ? ('drowl-paragraphs-form-layout--type-' ~ element['#paragraph'].bundle())|clean_class
] %}

<form{{ attributes.addClass(classes) }}>
  <div class="drowl-paragraphs-form-layout__col-first">
    {#
      The without filter doesnt work here for reasons, so we need to solve this differently.
      See: https://stackoverflow.com/a/59489393/6266306 ("Edit 2023")
    #}
    {% set without_fields =
      [
        'behavior_plugins',
        'field_background_media',
        'field_resp_imagestyle',
        'field_settings',
        'actions'
      ]
    %}
    {% for name in element|keys %}
      {% if not (name starts with '#' or name in without_fields) %}
        {{ element[name] }}
      {% endif %}
    {% endfor %}
  </div>
  <div class="drowl-paragraphs-form-layout__col-second">
    {{ element.field_background_media }}
    {{ element.field_resp_imagestyle }}
    {{ element.behavior_plugins }}
    {{ element.field_settings }}
  </div>
  <div class="drowl-paragraphs-form-layout__form-actions">
    {{ element.actions }}
  </div>
</form>
