<div class="drowl-paragraphs-paragraph-preview-placeholder">
  {% if icon_path %}<img src="{{ icon_path }}" class="drowl-paragraphs-paragraph-preview-placeholder__icon">{% endif %}
  <div class="drowl-paragraphs-paragraph-preview-placeholder__text">{{ text }}</div>
</div>
